body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 500px;
    height: 500px;
    background: #000000;
    padding: 20px;
    border-radius: 20px;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 50px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(253, 253, 253);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

button {
    padding: 15px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #f7e9ab;
    color: rgb(0, 0, 0);
}

button:hover {
    background: #da811c;
}
