* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #180f0f;
}

.logo {
    color: #f7f3f4;
}

.menu a {
    color: rgb(250, 249, 249);
    margin-left: 20px;
    text-decoration: none;
}

.menu a:hover {
    color: #d4a967;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #88b1e7, #ffffff);
    color: rgb(4, 28, 54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
    font-size: 25px;
}

.hero button {
    padding: 30px 50PX;
    border: none;
    background: #030200;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20px;
}

.hero button:hover {
    background: #0a387e;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    background: #8fc0dd;
}

.box {
    background: rgb(255, 255, 255);
    padding: 40px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
    box-shadow: 0 0 20px rgba(255, 240, 240, 0.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}
